.toaster {
  display: none;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--growku-background-critical);
  color: var(--growku-text-critical);
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.toaster.visible {
  display: flex;
}

.toaster .icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 6px;
}
