.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgb(var(--color-background));
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.media-container .media-item {
  border-radius: var(--product-card-corner-radius);
}

.modal-media {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}

.modal .close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px;
  cursor: pointer;
}

.modal .card-content .compare-at-price {
  margin-right: 0.25rem;
  text-decoration: line-through;
  color: rgba(var(--color-foreground), 0.75);
}
