.card-content .compare-at-price {
  margin-right: 0.25rem;
  text-decoration: line-through;
  color: rgba(var(--color-foreground), 0.75);
}

.product-card {
  cursor: pointer;
}

.product-image {
  max-width: 100%;
}
