.card-content .compare-at-price {
  margin-right: 0.25rem;
  text-decoration: line-through;
  color: rgba(var(--color-foreground), 0.75);
}

.product-card {
  cursor: pointer;
}

.product-image {
  max-width: 100%;
}

.modal-overlay {
  transition: transform 0.3s;
  transform: translateX(100%);
}

.modal-overlay.product-modal-close {
  transform: translateX(100%);
  visibility: hidden;
}

.modal-overlay.product-modal-close.previous-product-modal {
  transform: translateX(-100%);
  visibility: visible;
}

.modal-overlay.product-modal-close.next-product-modal {
  transform: translateX(100%);
  visibility: visible;
}

.modal-overlay.product-modal-open {
  transform: translateX(0);
  visibility: visible;
}
