.card-action {
  overflow: hidden;
  display: flex;
  padding: 0;
  border: none;
  text-align: left;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  gap: 25px;
}
