.card-content {
  padding: 0;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  gap: 5px;
}

.card-content--featured {
  width: 100%;
  height: 100%;
  padding-bottom: 8px;
  justify-content: flex-end;
  background-color: transparent;
  background: linear-gradient(
    180.5deg,
    rgba(0, 0, 0, 0) 4.14%,
    rgba(0, 0, 0, 0.5) 84.51%
  );
  gap: 0;
}

.card-content h3 {
  text-transform: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-content p {
  text-transform: none;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  max-height: 40px;
  margin: 0;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-content p .h2 {
  line-height: 32px;
}

.card-content .compare-text {
  margin-right: 4px;
  text-decoration: line-through;
}
