:root {
  --featured-card-height: 240px;
}

.card {
  box-sizing: border-box;
  position: relative;
  height: 162px;
  width: 100%;
  border-radius: 5px;
}

.card.card--featured {
  height: var(--featured-card-height);
  width: calc(50% - 12.5px);
  padding: 0;
}

