.menu {
  display: flex;
}

.menu-list {
  width: 243px;
}

.menu-header {
  display: flex;
  justify-content: center;
  height: 120px;
  margin-bottom: 25px;
}

.menu-header .logo {
  width: 162px;
  cursor: pointer;
}

.menu-item-wrapper {
  display: flex;
  position: relative;
  min-height: 50px;
}

.category-heading {
  width: 100%;
}

.menu-item {
  padding: 0;
  padding-left: 52px;
  cursor: pointer;
  text-transform: none;
  margin: 0px;
  display: block;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  text-align: left;
}

#menu-item-wrapper-home {
  display: none;
}

.menu-item.active {
  font-weight: bold;
}

.menu-item-highlight {
  position: absolute;
  background-color: var(--growku-brand-color);
  border-radius: 0px 10px 10px 0px;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 22px;
}

.menu-content {
  height: calc(100vh);
  min-width: 505px;
  overflow: scroll;
  flex: 1;
}

.menu-content::-webkit-scrollbar {
  display: none;
}
