.menu {
  display: flex;
}

.menu-list {
  width: 200px;
  padding-top: 20px;
}

.menu-item-wrapper {
  position: relative;
  margin-bottom: 12px;
}

.menu-item {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  color: rgba(var(--color-foreground), 0.75);
  margin: 0px;
  display: block;
  border: none;
  background: transparent;
}

.menu-item.active {
  font-weight: 700;
  letter-spacing: calc(1 + 0.4 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.menu-item-highlight {
  position: absolute;
  background-color: rgb(var(--color-foreground));
  border-radius: 0px 8px 8px 0px;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0.25rem;
}

.menu-content {
  height: calc(100vh - 80px);
  overflow: scroll;
  flex: 1;
  /* padding: 0 20px; */
}

.menu-content h2 {
  margin-bottom: 0;
  padding-left: 16px;
}

.menu-content::-webkit-scrollbar {
  display: none;
}
