.menu {
  display: flex;
}

.menu-list {
  width: 200px;
}

.menu-item-wrapper {
  position: relative;
  margin-bottom: 12px;
}

.menu-item {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: var(--main);
  margin: 0px;
  display: block;
}

.menu-item.active {
  font-weight: 700;
  letter-spacing: -0.4px;
  color: var(--active);
}

.menu-item-highlight {
  position: absolute;
  background-color: var(--active);
  border-radius: 0px 8px 8px 0px;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 4px;
}

.menu-content {
  flex: 1;
  padding: 0 20px;
}
