/*
We have two breakpoints in our design: 767px and 1024px.
By default the styles are for tablets and larger screens.
*/

:root {
  --font-body-family: Futura, sans-serif;
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-body-weight-bold: 700;
  --font-body-scale: 1.1;

  --font-heading-family: Futura, sans-serif;
  --font-heading-style: normal;
  --font-heading-weight: 700;
  --font-heading-scale: 0.9;

  --product-card-image-padding: 0rem;
  --product-card-corner-radius: 0.25rem;

  --color-background: 255, 255, 255;
  --color-foreground: 18, 18, 18;
  --color-shadow: 18, 18, 18;
  --color-button: 18, 18, 18;
  --color-button-text: 255, 255, 255;

  --color-link: 18, 18, 18;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + 0.3 / max (1, var(--font-heading-scale)));
  word-break: break-word;
}

h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 1.7rem);
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.3rem);
}

p {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  margin: 0;
  padding: 0;
  letter-spacing: -0.01px;
  margin-bottom: 0.25rem;
}

.hidden {
  display: none;
}

* {
  scroll-behavior: smooth;
}

/* Default styles for tablets and larger screens */
.layout {
  margin: 0 12px;
  max-width: 1024px;
}

@media screen and (max-width: 767px) {
  .layout {
    margin: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .layout {
    margin: 0 auto;
  }
}

.page-header {
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
}
