.card-media {
  min-width: 240px;
  width: 240px;
  height: 100%;
  border-radius: 5px;
  padding: 0;
}

.card-media.card-media--featured {
  position: absolute;
  width: 100%;
  max-width: unset;
  min-width: unset;
  height: 100%;
}

.card-media img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.card-media .placeholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 81%
    ),
    var(--growku-product-card-placeholder-image-url);

  border-radius: 5px;
  background-size: contain;
}

.card-media--featured .placeholder {
  background: linear-gradient(
      180.5deg,
      rgba(0, 0, 0, 0) 4.14%,
      rgba(0, 0, 0, 0.8) 84.51%
    ),
    var(--growku-product-featured-card-placeholder-image-url);

  background-size: contain;
}
