.card-media {
  min-width: 240px;
  width: 240px;
  /* max-width: 162px; */
  height: 100%;
  border-radius: 5px;
  padding: 0;
}

.card-media.card-media--featured {
  position: absolute;
  width: 100%;
  max-width: unset;
  min-width: unset;
  height: 100%;
}

.card-media img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.card-media .placeholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180.5deg,
      rgba(0, 0, 0, 0) 4.14%,
      rgba(0, 0, 0, 0.6) 84.51%
    ),
    var(--growku-brand-color);
  border-radius: 5px;
}
