.card-media {
  min-width: 110px;
  max-width: 110px;
  height: 110px;
  border-radius: var(--product-card-corner-radius);
  padding: 16px;
}

@media screen and (min-width: 1024px) {
  .card-media {
    height: 108px;
  }
}

.card-media img {
    object-fit: cover;
    object-position: 50% 50%;
    background-color: rgb(var(--color-background));
    border-radius: var(--product-card-corner-radius);
    width: 100%;
    height: 100%;
}

.card-media .placeholder {
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-foreground), 0.05);
  border-radius: var(--product-card-corner-radius);
}
